@charset "utf-8";
#topTop{
    border: 0px solid red;
    width: 100%;
    height: 40px;
    background-color:#A3CDEC;
    -moz-opacity:0.8;
    opacity:0.8;
    filter: alpha(opacity=0.8);
}
/* style{
    opacity:0.8;
    filter: alpha(opacity=0.8);
} */
#topbottom{
    border: 0px solid red;
    width: 100%;
    height:25%;
}
/* zw{
    border: 1px solid red;
    margin: 33% 15% 0px 20%;
} */
/* #topleft1{
    margin-left: 20%;
}
img1{
    margin-top: 15px;
} */
#tbleft{
    border: 0px solid red;
    margin-left: 15%;
    height: 100%;
    float: left;
    clear: both;
}
#tbright{
    border: 0px solid red;
    height: 100%;
    float: right;
    /* margin-right: %; */
}
#tougao{
    border: 0px solid red;
    float: right;
    margin-right: 15%;
}
#top{
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
}
td{
    padding-left: 15px;
}